.path {
  fill: var(--color-path-stroke, none);
  stroke: var(--color-path-stroke, black);
}

.presence {
  pointer-events: none;
}

.timeIndicator {
  & line {
    stroke: var(--color-indicator-line-stroke, black);
  }
  & circle {
    stroke: var(--color-indicator-circle-stroke, none);
    fill: var(--color-indicator-circle-fill, black);
  }
}

.handleContainer {
  & .handle {
    fill: var(--color-handle-fill, black);
    stroke: var(--color-handle-stroke, none);
  }

  &:hover .handle,
  &.handleContainer.active .handle {
    fill: var(--color-handle-fill-active, white);
    stroke: var(--color-handle-fill-active, black);
  }
}

.controlContainer {
  & .clamped {
    stroke: var(--color-control-line-clamped-stroke, black);
    pointer-events: none;
  }
  & .unclamped {
    stroke: var(--color-control-line-unclamped-stroke, black);
    stroke-dasharray: var(
      --color-control-line-unclamped-stroke-dasharray,
      2px 2px
    );
    pointer-events: none;
  }
}
